{
	"env": {
		"development": {
			"presets": ["es2015"],
			"plugins": [ "add-module-exports" ]
		},
	    "production": {
			"presets": ["es2015", ["minify", { "evaluate": false, "removeUndefined": false}]],
			"plugins": [ "add-module-exports", "transform-remove-strict-mode" ]
		}
	}
}
